<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bandiougou SAKO | Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/components.css">
    <link rel="stylesheet" href="/assets/css/animations.css">
    <link href="../styles/tailwind.output.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap" rel="stylesheet">
</head>
<body>

<nav class="navbar">
    <div class="nav-logo">Bandiougou SAKO</div>
    <ul class="nav-links">
        <li><a href="/components/index.html">Accueil</a></li>
        <li><a href="/components/about.html">À propos</a></li>
        <li><a href="/components/parcours.html">Parcours</a></li>
        <li><a href="/components/skills.html">Compétences</a></li>
        <li><a href="/components/projects.html">Projets</a></li>
        <li><a href="/components/contact.html">Contact</a></li>
    </ul>
</nav>

<body>

<section class="hero">
    <div class="hero-content fade-up">
        <h1 class="text-4xl font-bold text-red-600">Bandiougou SAKO</h1> 

        <p>19 ans · BTS SIO SLAM · Développeur Web</p>

        <div class="hero-buttons">
            <a href="/components/parcours.html" class="btn">Mon parcours</a>
            <a href="/assets/cv/Bandiougou-SAKO-CV.pdf" class="btn outline">Télécharger mon CV</a>
        </div>
    </div>
</section>


</body>
</html>

