
<!-- NAVBAR -->
<nav class="navbar">
    <div class="nav-logo">Portfolio</div>
    <ul class="nav-links">
        <li><a href="/index.html">Accueil</a></li>
        <li><a href="/components/about.html">À propos</a></li>
        <li><a href="/components/parcours.html">Parcours</a></li>
        <li><a href="/components/skills.html">Compétences</a></li>
        <li><a href="/components/projects.html">Projets</a></li>
        <li><a href="/components/contact.html">Contact</a></li>
    </ul>
</nav>

